@import url("fonts.css");

#header-nav-menu{
    background: #000000;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    margin-bottom: 0px;
    font-family: OpenSans-Regular;
    border: none;
    border-radius: 0px;
}

#header-nav-menu a{
    color: white;
}

#header-nav-menu #nav-menu-right>.menu-active a{
    border-bottom: 3px solid #b7c8d9;
}

#header-nav-menu #nav-menu-right>li>a:hover{
    border-bottom: 3px solid #b7c8d9;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */   
}

#header-nav-menu #nav-menu-right .dropdown a:hover, #header-nav-menu #nav-menu-right #icon-nav a:hover{
    border-bottom: none;
}

#header-nav-menu #nav-menu-left{
    padding-left: 10%;
}

#header-nav-menu #nav-menu-right{
    padding-right: 10%;
}

#header-nav-menu #nav-menu-right  .dropdown-menu{
    border-radius: 0px;
}

#header-nav-menu #dropdown-menu-shop a:hover{
    background: red ;
}

.navbar-default .dropdown-menu {
     background: gray !important;
}

#header-nav-menu #nav-menu-right .open>a{
    background: #000000;
}

/*CSS slideshow*/
#slideshow{
    padding-top: 0px;
}

#slideshow img{
    width: 100%;
    height: auto;
}

/*CSS content-1*/

#content-1{
    padding-top: 9%;
    padding-bottom: 9%;
    font-family: OpenSans-Regular;
}

#content-1 #content-1-left{
    font-size: 22px;
    padding-right: 50px;
    padding-left: 0px;
    margin-bottom: 20px;
}

#content-1 #content-1-right{
    font-size: 14px;
    padding-left: 50px;
    padding-right: 0px;
}

/* CSS content-2*/

#content-2{
    background: #f3f3f3;
    padding-top: 7%;
    padding-bottom: 5%;
    font-family: OpenSans-Regular;
}

#content-2 #content-2-title{
    text-align: center;
    font-size: 22px;
    margin-bottom: 3%;
}

#content-2 #content-2-title span{
    font-weight: bold;
}

#content-2 img{
    width: 100%;
    height: auto;
}

#content-2 #content-2-left{
    position: relative;
    color: white;
    padding-left: 0px;
}

#content-2 .content-2-left-title{
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 16px;
}

#content-2 .content-2-left-title2{
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-size: 16px;
}

#content-2 .content-2-left-title span{
    font-weight: bold;
}

#content-2 .content-2-left-title2 span{
    font-weight: bold;
}

#content-2 .content-2-left-read{
    padding: 5px;
    border: 2px solid white;
    position: absolute;
    top: 10px;
    right: 25px;
    background: #605e5e;
}

#content-2 #content-2-left img{
    height: 260px;
    margin-bottom: 30px;
    opacity: 0.8;
}

#content-2 #content-2-right{
    position: relative;
    color: white;
    padding-right: 0px;
}

#content-2 #content-2-right a{
    color: white;
}

#content-2 #content-2-left a{
    color: white;
}

#content-2 #content-2-right a:hover{
    color: red;
    text-decoration: none;
}

#content-2 #content-2-left a:hover{
    color: red;
    text-decoration: none;
}

#content-2 #content-2-right img{
    height: 260px;
    max-height: 260px; 
    opacity: 0.8;     
}

#content-2 #content-2-letter{
    background: white;
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#content-2 #content-2-letter #letter-form form{
    padding: 0px;
    padding-right: 10%;
    margin: auto;
}

#content-2 #content-2-letter #letter-form form input[type="text"]{
    height: 55px;
    border: 1px solid #343638;
}

#content-2 #content-2-letter #letter-form form button{
    height: 55px;
    width: 100%;
    background: #343638;
    color: white;
    border: 1px solid #343638;
}

#content-2 #content-2-letter #letter-form form .input-group{
    width: 100%;
}

#content-2 #content-2-letter #content-2-letter-left{
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content-2 #content-2-letter #content-2-letter-left span{
    font-weight: bold;
}

#content-2 #content-2-letter #content-2-letter-right{
    margin: auto;
    padding-bottom: 10px;
}

#content-2 #content-2-letter #content-2-letter-right ::-webkit-input-placeholder {
   color: black;
}

#content-2 #content-2-letter #content-2-letter-right :-moz-placeholder { /* Firefox 18- */
   color: black;  
}

#content-2 #content-2-letter #content-2-letter-right ::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

#content-2 #content-2-letter #content-2-letter-right :-ms-input-placeholder {  
   color: black;  
}

/*CSS content-3*/
#content-3{
    padding-top: 6%;
    padding-bottom: 6%;
    font-family: OpenSans-Regular;
    padding-left: 0px;
    padding-right: 0px;
}

#content-3 .box{
    width: 20%;
    float: left;
    margin-right: 6.6%;
}

#content-3 #col-4{
    width: 20%;
    float: left;
}

#content-3 #col-4 #newsletter-form form{
    padding: 0px;
    padding-right: 10%;
    margin: auto;
}

#content-3 #col-4 #newsletter-form form input[type="text"]{
    height: 35px;
    border: 1px solid #343638;
}

#content-3 #col-4 #newsletter-form form button{
    height: 35px;
    width: 100%;
    background: #343638;
    color: white;
    border: 1px solid #343638;
}

#content-3 #col-4 #newsletter-form form .input-group{
    width: 100%;
}

/*CSS footer*/
#footer{
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 2px solid #f0f0f0;
    font-family: OpenSans-Regular;
    padding-left: 0px;
    padding-right: 0px;
}

#footer a{
    color: black;
}

#footer a:hover{
    color: red;
    text-decoration: none;
}

#footer-left{
    float: left;
    padding-bottom: 10px;
}

#footer-right{
    float: right;
}

#footer-right ul{
    padding-top: 0px;
}

#footer-right ul li{
    float: left;
    margin-left: 40px;
    list-style-type: none;
}


#footer-right ul{
    padding-left: 0px;
}

@media only screen and (max-width : 991px) {  

    #content-1 #content-1-left{
        padding-right: 15px;
        padding-left: 15px;
    }

    #content-1 #content-1-right{
        padding-left: 15px;
        padding-right: 15px;
    }

    #content-2 #content-2-left{
        padding-left: 0px;
        padding-right: 0px;
    }

    #content-2 #content-2-right{
        padding-left: 0px;
        padding-right: 0px;
    }

    #content-2 #content-2-left img{
        height: auto;
    }

    #content-2 #content-2-right img{
        height: auto;
    }

    #content-2-letter{
        padding-left: 0px;
        padding-right: 0px;
    }

    #content-3{
        padding-left: 15px;
        padding-right: 15px;
    }

    #footer{
        padding-left: 15px;
        padding-right: 15px;
    }

    #footer-right ul li{
        margin-left: 0px;
        margin-right: 18px;
    }
}

@media only screen and (max-width : 816px) {

    #content-3 #col-1{
        margin-left: 18%;
    }

    #content-3 #col-3{
        clear: both;
        margin-left: 18%;
    }

    #content-3 .box{
        width: 210px;
        margin-right: 6.6%;
    }

    #content-3 #col-4{
        width: 200px;
    }
}

@media only screen and (max-width : 767px) {  

    #header-nav-menu #nav-menu-left{
        padding-left: 0px;
    }    

    #header-nav-menu #nav-menu-right{
        padding-right: 0px;
    }

    #header-nav-menu #icon-nav{
        display: none;
    }
}

@media only screen and (max-width : 767px) {
    #content-2 #content-2-letter #content-2-letter-info form input[type="text"]{
        width: 100%;
        height: 47px;
    }
}

@media only screen and (max-width : 657px) {
    #content-3 #col-1{
        margin-left: 10%;
    }

    #content-3 #col-3{
        clear: both;
        margin-left: 10%;
    }

    #content-3 #col-2{
        margin-right: 0px;
    }

}

@media only screen and (max-width : 657px) {
    #content-3{
        margin: 0 auto;
    }

    #content-3 .box{
        clear: both;
        width: 270px;
        margin-left: 16%;
    }

    #content-3 #col-4{
        clear: both;
        width: 270px;
        margin-left: 16%;
    }

    #content-3 #col-1{
        margin-left: 16%;
    }

    #content-3 #col-3{
        margin-left: 16%;
    }


}

@media only screen and (max-width : 500px) {
    #footer-right{
        float: left;
    }
}

@media only screen and (max-width : 400px) {
     #content-3 .box{
        margin-left: 5%;
    }

    #content-3 #col-4{
        margin-left: 5%;
    }

    #content-3 #col-1{
        margin-left: 5%;
    }

    #content-3 #col-3{
        margin-left: 5%;
    }


}

@media only screen and (max-width : 325px) {
#content-3 .box{
        margin-left: 0px;
        width: 230px;
    }

    #content-3 #col-4{
        margin-left: 0px;
        width: 230px;
    }

    #content-3 #col-1{
        margin-left: 0px;
    }

    #content-3 #col-3{
        margin-left: 0px;
    }
}